*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.main {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #1E1B1B; }

[class*="heading-"] {
  letter-spacing: -0.03em; }

.heading-1 {
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 8.4rem; }

.heading-2 {
  font-weight: 800;
  font-size: 5.8rem;
  line-height: 7.6rem; }

.heading-3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.7rem; }

.u-text-caption {
  font-weight: 500 !important;
  opacity: .7 !important; }
  .u-text-caption--muted {
    font-weight: 500 !important;
    color: #939191 !important; }
  .u-text-caption--black {
    color: #000 !important; }

.u-text-muted {
  line-height: 1.75 !important;
  opacity: .6 !important; }
  .u-text-muted--big {
    font-size: 1.8rem !important; }

.u-text-title {
  letter-spacing: -0.03em !important; }
  .u-text-title--small {
    font-size: 2.4rem !important;
    line-height: 3.6rem !important; }
  .u-text-title--big {
    font-size: 3.2rem !important;
    line-height: 4.8rem !important;
    font-weight: 700 !important; }

.u-mb-sm {
  margin-bottom: .8rem !important; }

.u-mb-md {
  margin-bottom: 1.6rem !important; }

.u-mb-lg {
  margin-bottom: 3.2rem !important; }

.u-mb-xl {
  margin-bottom: 4.8rem !important; }

.u-mb-xxl {
  margin-bottom: 6.4rem !important; }

.btn, .btn:link, .btn:visited {
  padding: 1.6rem 4rem;
  border-radius: 1.2rem;
  text-decoration: none;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 3.15rem;
  transition: all .3s;
  cursor: pointer;
  border: none; }

.btn--primary {
  background-color: #FF6433; }
  .btn--primary:hover, .btn--primary:active {
    background-color: #ff460c; }

.btn-text {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  line-height: 1.75;
  display: flex;
  align-items: center;
  column-gap: 1rem; }
  .btn-text__icon {
    width: 5.2rem;
    height: 1.5rem;
    transition: all .4s ease; }
  .btn-text:hover .btn-text__icon {
    transform: translateX(1.2rem); }

.cta {
  background-color: #00D289;
  grid-column: full-start / full-end; }

.experience {
  background-color: #E2E6E9;
  grid-column: full-start / full-end; }

.process {
  display: grid;
  grid-row-gap: 1.6rem; }
  .process__step {
    display: flex;
    column-gap: 2.4rem; }
  .process__left {
    display: grid;
    justify-items: center; }
  .process__step-number-box {
    width: 7.2rem;
    height: 7.2rem;
    background-color: #661CE7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .process__step-number {
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFF; }
  .process__step-number-shape {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    position: absolute;
    inset: auto auto -2.5rem auto; }
  .process__line {
    height: 7rem;
    border-left: 2px dashed #FF6433;
    margin-top: 1.6rem; }
  .process__right {
    padding-top: 1rem; }
  .process__text {
    font-size: 1.8rem;
    max-width: 30rem; }

.footer {
  background-color: #661CE7; }

.home-header {
  grid-column: center-start / center-end;
  padding: 5rem 0 10rem 0;
  display: grid;
  grid-column-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }
  .home-header__content {
    display: grid;
    justify-items: start; }
  .home-header__open-time {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    grid-column-gap: 1.3rem; }
  .home-header__open-time-icon {
    width: 3.1rem;
    height: 3.1rem;
    grid-row: 1 / span 2; }
  .home-header__open-time-detail {
    font-size: 1.8rem;
    line-height: 1.75;
    grid-column: 2 / 3; }
  .home-header__image-container {
    position: relative; }
  .home-header__image {
    max-width: 100%;
    height: 63rem;
    object-fit: cover; }
  .home-header .home-header__service, .home-header .home-header__rating {
    background-color: #FFF;
    outline: 1.2rem solid rgba(225, 225, 225, 0.43);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center; }
  .home-header__service {
    grid-column-gap: 1.4rem;
    border-radius: 6rem;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    top: 8rem;
    left: -3rem; }
  .home-header__service-hours {
    width: 7rem;
    height: 7rem;
    background-color: #5CBA99;
    color: #FFF;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px; }
    .home-header__service-hours span {
      font-size: 1.6rem;
      line-height: 2.8rem;
      letter-spacing: 0; }
  .home-header__rating {
    grid-column-gap: 2rem;
    border-radius: 5rem;
    padding: 2rem 3rem;
    bottom: 8rem;
    right: -3rem; }
  .home-header__stars {
    grid-column: 2 / 3;
    grid-row: 1 / span 2; }
  .home-header__star-icon {
    width: 3.6rem;
    height: 3.6rem; }

.nav {
  padding: 1.5rem 0;
  background-color: #FFF;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) minmax(min-content, 128rem) minmax(4rem, 1fr); }
  .nav__container {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between; }
  .nav__logo-link {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: start; }
  .nav__menu {
    display: flex;
    align-items: center; }
  .nav__list {
    list-style: none;
    display: flex; }
    .nav__list:hover a {
      color: #939191; }
    .nav__list a:hover {
      color: #1E1B1B; }
  .nav__link {
    padding: .2rem 1.6rem; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      color: inherit; }
  .nav__divider {
    width: 1px;
    height: 4.2rem;
    background-color: rgba(147, 145, 145, 0.36);
    margin: 0 3.2rem 0 1.6rem; }
  .nav__phone-info {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 1.4rem;
    align-items: center; }
  .nav__phone-icon-link {
    width: 4rem;
    height: 4rem;
    grid-row: 1 / span 2; }
  .nav__phone-icon {
    width: 100%;
    height: 100%;
    fill: #61C4A1; }
    .nav__phone-icon:hover {
      fill: #8FBC8F; }
  .nav__phone-number:link, .nav__phone-number:visited {
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.75;
    color: inherit;
    grid-column: 2 / 3; }
  .nav__phone-number:hover, .nav__phone-number:active {
    color: #FF6433; }

.quote {
  background-color: #E2E6E9;
  grid-column: full-start / full-end;
  padding: 12.8rem 0;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) minmax(min-content, 128rem) minmax(4rem, 1fr); }
  .quote__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 7rem; }
  .quote__service-container {
    display: grid;
    grid-row-gap: 3.2rem; }
  .quote__service {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr);
    grid-column-gap: 1.6rem;
    justify-items: start; }
  .quote__service-icon-box {
    width: 4.7rem;
    height: 4.7rem;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / span 2; }
  .quote__service-text {
    max-width: 32rem; }
  .quote__service-link {
    grid-column: 2 / 3;
    margin-top: 3.2rem; }
  .quote__form {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-row-gap: 4px; }
  .quote__form-input {
    padding: 2.3rem 4rem;
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: inherit;
    transition: border-color .4s ease; }
    .quote__form-input:focus {
      outline: none;
      border: 1px solid #939191; }
  .quote__form-button {
    justify-self: start;
    margin-top: 3.2rem; }

.home-process {
  grid-column: center-start / center-end;
  padding: 12.8rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 13rem; }

.home-services {
  background-color: #F2F2F2;
  grid-column: full-start / full-end; }

.brands {
  background-color: #00D289;
  grid-column: center-start / center-end; }

.testimonials {
  background-color: #E2E6E9;
  grid-column: full-start / full-end; }

.faq {
  background-color: #00D289;
  grid-column: full-start / full-end; }
