// Color palette
$color-primary: #FF6433;
$color-secondary: #661CE7;

$color-white: #FFF;
$color-black: #1E1B1B;

$color-grey: #939191;
$color-grey-light: #F2F2F2;
$color-grey-steel: #E2E6E9;

$color-mint: #00D289;