.process {
   display: grid;
   grid-row-gap: 1.6rem;

   &__step {
      display: flex;
      column-gap: 2.4rem;
   }

   &__left {
      display: grid;
      justify-items: center;
   }

   &__step-number-box {
      width: 7.2rem;
      height: 7.2rem;
      background-color: $color-secondary;
      border-radius: 50%;
      @include flexCenter;
      position: relative;
   }

   &__step-number {
      font-weight: 700;
      font-size: 3.2rem;
      color: $color-white;
   }

   &__step-number-shape {
      width: 4.2rem;
      height: 4.2rem;
      background-color: rgba(255, 255, 255, .24);
      border-radius: 50%;
      position: absolute;
      inset: auto auto -2.5rem auto;
   }

   &__line {
      height: 7rem;
      border-left: 2px dashed $color-primary;
      margin-top: 1.6rem;
   }

   &__right {
      padding-top: 1rem;
   }

   &__text {
      font-size: 1.8rem;
      max-width: 30rem;
   }
}