*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
}

.main {
   display: grid;
   grid-template-columns: [full-start] minmax(4rem, 1fr)
   [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end]
   minmax(4rem, 1fr) [full-end];
}