.quote {
   background-color: $color-grey-steel;
   grid-column: full-start / full-end;
   padding: 12.8rem 0;

   display: grid;
   grid-template-columns: minmax(4rem, 1fr) minmax(min-content, 128rem) minmax(4rem, 1fr);

   &__container {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 7rem;
   }

   &__service-container {
      display: grid;
      grid-row-gap: 3.2rem;
   }

   &__service {
      display: grid;
      grid-template-columns: min-content minmax(min-content, 1fr);
      grid-column-gap: 1.6rem;
      justify-items: start;
   }

   &__service-icon-box {
      width: 4.7rem;
      height: 4.7rem;
      background-color: $color-white;
      border-radius: 50%;
      @include flexCenter;
      grid-row: 1 / span 2;
   }

   &__service-text {
      max-width: 32rem;
   }

   &__service-link {
      grid-column: 2 / 3;
      margin-top: 3.2rem;
   }

   &__form {
      display: grid;
      grid-template-columns: minmax(min-content, 1fr);
      grid-row-gap: 4px;
   }

   &__form-input {
      padding: 2.3rem 4rem;
      border: 1px solid transparent;
      border-radius: 2px;
      font-family: inherit;
      transition: border-color .4s ease;

      &:focus {
         outline: none;
         border: 1px solid $color-grey;
      }
   }

   &__form-button {
      justify-self: start;
      margin-top: 3.2rem;
   }
}

.home-process {
   grid-column: center-start / center-end;
   padding: 12.8rem 0;

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 13rem;
}

.home-services {
   background-color: $color-grey-light;
   grid-column: full-start / full-end;
   padding: 12rem 0;

   display: grid;
   grid-template-columns: minmax(4rem, 1fr) minmax(min-content, 128rem) minmax(4rem, 1fr);

   &__container {
      grid-column: 2 / 3;
      display: grid;
   }

   &__title {
      max-width: 85rem;
      margin: 0 auto;
      text-align: center;
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: .8rem;
      justify-content: center;
   }

   &__item {
      height: 23rem;
      background-color: $color-white;

      &--active {
         background-color: $color-primary;
      }
   }

   &__item-link {
      height: 100%;
      @include flexCenter;
      flex-direction: column;
      row-gap: 1.2rem;
      text-decoration: none;
      color: inherit;

      &:hover,
      &:active {
         background-color: $color-primary;
      }
   }

   &__item-icon {
      width: 4rem;
      height: 4rem;
   }

   &__link {
      justify-self: end;
   }
}

.brands {
   grid-column: center-start / center-end;
   padding: 12rem 0 8rem 0;

   &__heading {
      text-align: center;
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 4rem;
   }

   &__logo {
      max-width: 22rem;
      height: auto;
   }
}

.testimonials {
   background-color: $color-grey-steel;
   grid-column: full-start / full-end;
}

.faq {
   background-color: $color-mint;
   grid-column: full-start / full-end;
}